In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite", echo = True)

In [6]:
# reflect an existing database into a new model
    # creates set of clases for each table in hawaii.sqlite
Base = automap_base()
Base.prepare(engine, reflect=True)
# reflect the tables (defines classes that represent data in the table)
Station = Base.classes.station
Measurement = Base.classes.measurement

2021-05-21 13:44:46,417 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-21 13:44:46,418 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,420 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-21 13:44:46,420 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,422 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-21 13:44:46,422 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,427 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("measurement")
2021-05-21 13:44:46,428 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,431 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,432 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-05-21 13:44:46,434 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("measurement")
2021-05-21 13:44:46,435 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,436 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("measurement")
2021-05-21 13:44:46,437 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,438 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,438 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-05-21 13:44:46,441 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-05-21 13:44:46,441 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,442 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-05-21 13:44:46,443 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,445 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-05-21 13:44:46,446 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,447 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-05-21 13:44:46,448 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,449 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,450 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-05-21 13:44:46,454 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("station")
2021-05-21 13:44:46,455 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,457 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,458 INFO sqlalchemy.engine.base.Engine ('station',)
2021-05-21 13:44:46,459 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("station")
2021-05-21 13:44:46,461 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,462 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("station")
2021-05-21 13:44:46,463 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,464 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,465 INFO sqlalchemy.engine.base.Engine ('station',)
2021-05-21 13:44:46,467 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-05-21 13:44:46,468 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,469 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-05-21 13:44:46,470 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,472 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-05-21 13:44:46,473 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,474 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-05-21 13:44:46,475 INFO sqlalchemy.engine.base.Engine ()
2021-05-21 13:44:46,476 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-21 13:44:46,477 INFO sqlalchemy.engine.base.Engine ('station',)

In [7]:
# View all of the classes that automap found
Base.classes

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB

# Exploratory Precipitation Analysis

In [ ]:
# Find the most recent date in the data set.

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()